<template>
    <div class="title">${data.title.english}</div>
    <div class="anime-card">
        <div class="image" with.bind="data" style="background-image: url(${coverImage.large});">
            <!-- <div class="overlay">
                <div class="studio">${studios.edges[0].node.name}</div>
            </div> -->
        </div>
        <div class="data">
            <div class="details">
                <div class="season">${data.season} ${data.startDate.year}</div>
                <div class="extra">
                    <!-- <span class="format">${data.format}</span> -->
                <span class="score ${scoreColour}">${data.averageScore}</span>
                </div>
            </div>
            
            <div class="description" innerhtml.bind="data.description"></div>
            <div class="genres" with.bind="genresMap">
                <i if.bind="Action" class="fas fa-bolt action"></i>
                <img if.bind="Ecchi" src="/assets/images/pantsu-dark.svg" class="ecchi"></img>
                <i if.bind="Adventure" class="fas fa-mountain adventure "></i>
                <i if.bind="Romance" class="far fa-heart romance"></i>
                <i if.bind="Horror" class="fas fa-ghost horror"></i>
                <i if.bind="Thriller" class="fas fa-meteor thriller"></i>
                <i if.bind="Drama" class="fas fa-theater-masks drama"></i>
                <i if.bind="Fantasy" class="fab fa-fort-awesome fantasy"></i>
                <i if.bind="Comedy" class="fas fa-laugh-squint comedy"></i>
                <i if.bind="SliceofLife" class="fas fa-sun sol"></i>
                <i if.bind="Psychological" class="fas fa-brain psychological"></i>
                <i if.bind="Sci-Fi" class="fas fa-rocket scifi"></i>
                <i if.bind="MahouShoujo" class="fas fa-magic mahoushoujo"></i>
                <i if.bind="Mecha" class="fas fa-robot mecha"></i>
                <i if.bind="Music" class="fas fa-music music"></i>
                <i if.bind="Sports" class="fas fa-football-ball sports"></i>
                <i if.bind="Mystery" class="fas fa-question-circle mystery"></i>
                <i if.bind="Supernatural" class="fas fa-crow supernatural"></i>
            </div>
        </div>

    </div>
</template>