@import "resources/components/header/header";
@import "resources/components/anime-card/anime-card";
@import "resources/util";

  
body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  // font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
  color: $text-color;
  background-color: $background-color;
  overflow-y: scroll;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 20px;
  color: rgba(255,255,255,0.9);
}

.footer-area {
  background: #202020;
  padding: 85px 0px 85px 0px;
  display: flex;
  justify-content: space-around;
  .text {
    color: $text-color;
  }
}

.container {
  padding: 3% 0%; 
}
@media(min-width: 1440px) {
  .container {
    max-width: 1400px; 
  }
}
@media(min-width: 1600px) {
  .container {
    max-width: 1540px; 
  }
}
@media(min-width: 1920px) {
  .container {
    max-width: 1700px; 
  }
}

.row {
  margin-bottom: 20px;
}

.media-item {
  margin-bottom: 20px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

.shoyu {
  color: $shoyu;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  opacity: 75%;
}

.levelBar {
  
}